/*----------------it's a home section ----------------------*/
body
{
    background-color: #e79619;
    height: auto;
    width: auto;
    font-family: 'Cuprum', sans-serif;
}

.header
{
    font-family: 'Cuprum', sans-serif;
    display: flex;
    align-items: right;
    justify-content: right;
    min-height: 100vh;
    margin-right: 30px;
  
}
.header a {
    text-decoration: none;
    margin-top: 30px;
    margin-left: -10px;
    margin-right: 100px;
    color:white;
}
.header i {
    margin-right: 30px;
    margin-top: 20px;
    font-size: 40px;
    color: white;

}
.navigation 
{
  margin-top: -530px;
  margin-left: 420px;
  display: flex;
}
.navigation a
{
    margin-left: 30px;
    font-size: 20px;
    color: white;
    text-decoration: none;
    font-family: 'Cuprum', sans-serif;
}


.content h1
{
    margin-top: 50px;
    margin-left: 100px;
    font-size: 80px;
    color: white;
    font-family: 'Cuprum', sans-serif;
}
.content h2
{
    margin-top: -50px;
    font-size: 80px;
    margin-left: 100px;
    color: white;
}
.content h3
{
    color: white;
    font-size: 20px;
    margin-left: 100px;
    margin-top: -30px;
}
.content p
{
    font-size: 20px;
    margin-left: 100px;
    margin-top: -50px;
    color: white;
}
button 
{
    margin-left: 100px;
    margin-top: -10px;
    font-size: 20px;
    border-radius: 20px;
    background-color: white;
    padding: 5px 15px 5px 15px;
    border: 1px solid white;
}
button:hover
{
    background-color:#e79619;
}
button i 
{
    margin-right: 5px;
}
#Wvideo
{
   margin-left: 15px;
}
.content img
{
    height: 40%;
    width: 40%;
    margin-left: 700px;
    margin-top: -350px;
}

